<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport" />
    <title>😄</title>

    <link href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" rel="stylesheet">

</head>
<body>

    <div class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item_on">
                游戏热度
            </div>
            <div class="weui-navbar__item">
                敬请期待
            </div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">实时热度排行榜</h4>
                    <p class="weui-media-box__desc" th:text="'更新于: ' + ${refreshTime}"></p>
                </div>
            </div>

            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><img src="" alt="" style="width:20px;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>游戏名</p>
                    </div>
                    <div class="weui-cell__ft">热度值</div>
                </div>
                <div class="weui-cell" th:each="popular:${popularList}">
                    <div class="weui-cell__hd"><img src="" th:src="@{'https://huyaimg.msstatic.com/cdnimage/game/' + ${popular.hyId} + '-S.jpg'}" alt="" style="width:50px;margin-right:10px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p th:text="${popularStat.index + 1} + ':'"></p>
                        <p th:text="${popular.game}"></p>
                    </div>
                    <div class="weui-cell__ft" th:text="${#numbers.formatDecimal(popular.avgValue / 20, 1, 0)}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-footer">
        <p class="weui-footer__links">
            <p th:text="'今日访问量：' + ${todayVisitCount}"></p>
            <p th:text="'总访问量：' + ${totalVisitCount}"></p>
        </p>
        <p class="weui-footer__text">Copyright &copy; 2018-2019 yamadadada.github.io</p>
    </div>

</body>
</html>